<div class="container padded">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3>Add a review for <%= @cocktail.name %></h3>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.error_notification %>
        <%= f.input :ingredient_id, collection: @ingredients %>
        <%= f.input :description %>

        <%= f.button :submit, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
